@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani.woff2") format("woff2"),
    url("../fonts/rajdhani.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-medium.woff2") format("woff2"),
    url("../fonts/rajdhani-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-semibold.woff2") format("woff2"),
    url("../fonts/rajdhani-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-bold.woff2") format("woff2"),
    url("../fonts/rajdhani-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@mixin font_rajdhani($size, $weight, $line_height, $color) {
  font-family: "Rajdhani", "Arial", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line_height;
  color: $color;
}
