$white: #ffffff;
$light_grey: #e1e6ed;
$violet: #192b3f;
$violet_hover: #2e4055;
$violet_active: #3b536d;
$titan: #3d5876;
$bluesh_grey: #8a94a6;
$sandy: #c9b8a8;

$mobile-min-width: 320px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1360px;

